#!/usr/bin/env bash

if ! has nix_direnv_version || ! nix_direnv_version 3.1.0; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.1.0/direnvrc" "sha256-yMJ2OVMzrFaDPn7q8nCBZFRYpL/f0RcHzhmw/i6btJM="
fi

export DEVENV_IN_DIRENV_SHELL=true

if [ ! -f .envrc.local ]; then
  log_status "loading skipped (not exist) $(pwd)/.envrc.local"
else
  source_env .envrc.local
fi

[ -n "$SECRETSPEC_PROVIDER" ] && export SECRETSPEC_PROVIDER
[ -n "$SECRETSPEC_PROFILE" ] && export SECRETSPEC_PROFILE

DEVENV_FLAKE_DIR="$PWD/.devcontainer"

if command -v git >/dev/null && git -C ${DEVENV_FLAKE_DIR} rev-parse --is-inside-work-tree >/dev/null 2>&1; then
  watch_file $(git -C ${DEVENV_FLAKE_DIR} ls-files '*.nix')
else
  watch_file $(find ${DEVENV_FLAKE_DIR} -maxdepth 4 -name "*.nix" -not -path "*/.*")
fi
watch_file ${DEVENV_FLAKE_DIR}/flake.nix
watch_file ${DEVENV_FLAKE_DIR}/flake.lock

mkdir -p "$PWD/.devenv"
DEVENV_ROOT_FILE="$PWD/.devenv/root"
printf %s "$PWD" >"$DEVENV_ROOT_FILE"

FLAGS="--override-input devenv-root file+file://$DEVENV_ROOT_FILE"
if [ -d "$LOCAL_CHUFANG" ]; then
  ABS_CHUFANG=$(realpath "$LOCAL_CHUFANG")
  watch_file $(git -C "$ABS_CHUFANG" ls-files '*.nix' 2>/dev/null)
  log_status "检测到本地 chufang，正在使用本地开发版本: $ABS_CHUFANG"
  CMD="use flake ${DEVENV_FLAKE_DIR} --override-input chufang git+file://$ABS_CHUFANG $FLAGS"
else
  CMD="use flake ${DEVENV_FLAKE_DIR} $FLAGS"
fi

if ! $CMD; then
  echo "devenv could not be built. The devenv environment was not loaded." >&2
  return 1
fi
