#!/usr/bin/env bash

if ! has nix_direnv_version || ! nix_direnv_version 3.1.0; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.1.0/direnvrc" "sha256-yMJ2OVMzrFaDPn7q8nCBZFRYpL/f0RcHzhmw/i6btJM="
fi

export DEVENV_IN_DIRENV_SHELL=true

if [ ! -f .envrc.local ]; then
  log_status "loading skipped (not exist) $(pwd)/.envrc.local"
else
  source_env .envrc.local
fi

[ -n "$SECRETSPEC_PROVIDER" ] && export SECRETSPEC_PROVIDER
[ -n "$SECRETSPEC_PROFILE" ] && export SECRETSPEC_PROFILE

if command -v git >/dev/null && git rev-parse --is-inside-work-tree >/dev/null 2>&1; then
  watch_file $(git ls-files '*.nix')
else
  watch_file $(find . -maxdepth 4 -name "*.nix" -not -path "*/.*")
fi
watch_file flake.nix
watch_file flake.lock

mkdir -p "$PWD/.devenv"
DEVENV_ROOT_FILE="$PWD/.devenv/root"
printf %s "$PWD" >"$DEVENV_ROOT_FILE"
if ! use flake . --override-input devenv-root "file+file://$DEVENV_ROOT_FILE"; then
  echo "devenv could not be built. The devenv environment was not loaded. Make the necessary changes to devenv.nix and hit enter to try again." >&2
fi