#!/usr/bin/env bash

if ! has nix_direnv_version || ! nix_direnv_version 3.1.0; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.1.0/direnvrc" "sha256-yMJ2OVMzrFaDPn7q8nCBZFRYpL/f0RcHzhmw/i6btJM="
fi

export DEVENV_IN_DIRENV_SHELL=true

if [ ! -f .envrc.local ]; then
  log_status "loading skipped (not exist) ${PWD}/.envrc.local"
else
  source_env .envrc.local
  [ -n "${SECRETSPEC_PROFILE}" ] && export SECRETSPEC_PROFILE
  [ -n "${CHUFANG_LOCAL_DIR}" ] && export CHUFANG_LOCAL_DIR
fi

export CHUFANG_FLAKE_DIR="${CHUFANG_FLAKE_DIR:-.devcontainer}"

if command -v git >/dev/null && git -C "${CHUFANG_FLAKE_DIR}" rev-parse --is-inside-work-tree >/dev/null 2>&1; then
  while IFS= read -r file; do
    watch_file "${CHUFANG_FLAKE_DIR}/${file}"
  done < <(git -C "${CHUFANG_FLAKE_DIR}" ls-files '*.nix')
else
  while IFS= read -r file; do
    watch_file "${CHUFANG_FLAKE_DIR}/${file}"
  done < <(find "${CHUFANG_FLAKE_DIR}" -maxdepth 4 -name "*.nix" -not -path "*/.*")
fi

watch_file "${CHUFANG_FLAKE_DIR}/flake.lock"

mkdir -p "${PWD}/.devenv"
DEVENV_ROOT_FILE="${PWD}/.devenv/root"
printf %s "${PWD}" >"${DEVENV_ROOT_FILE}"

FLAGS="--override-input devenv-root path:${DEVENV_ROOT_FILE}"

FLAGS="${FLAGS} --override-input nixpkgs nixpkgs"

abs_chufang_flake_dir=$(realpath "${CHUFANG_FLAKE_DIR}")
abs_chufang_flake_dir_file="${abs_chufang_flake_dir}/chufang-flake-dir"
printf "%s" "${abs_chufang_flake_dir}" > "${abs_chufang_flake_dir_file}"
FLAGS="${FLAGS} --override-input chufang-flake-dir path:${abs_chufang_flake_dir_file}"

if [ -d "${CHUFANG_LOCAL_DIR}" ]; then

  abs_chufang_local_dir=$(realpath "${CHUFANG_LOCAL_DIR}")
  abs_chufang_local_dir_file="${CHUFANG_FLAKE_DIR}/chufang-local-dir"
  printf "%s" "${abs_chufang_local_dir}" > "${abs_chufang_local_dir_file}"
  FLAGS="${FLAGS} --override-input chufang-local-dir path:${abs_chufang_local_dir_file}"

  while IFS= read -r file; do
    watch_file "${abs_chufang_local_dir}/${file}"
  done < <(git -C "${abs_chufang_local_dir}" ls-files '*.nix' 2>/dev/null)

  log_status "检测到本地 chufang，正在使用本地开发版本: ${abs_chufang_local_dir}"
  CMD="use flake ${CHUFANG_FLAKE_DIR} --override-input chufang git+file://${abs_chufang_local_dir} ${FLAGS}"
else
  CMD="use flake ${CHUFANG_FLAKE_DIR} ${FLAGS}"
fi

if ! ${CMD}; then
  echo "devenv could not be built. The devenv environment was not loaded." >&2
  return 1
fi
